sudo: required
dist: trusty
language: node_js
node_js:
  - '8'
install:
  - npm install -g truffle
  - npm install -g ganache-cli
  - npm install
script:
  - npm run lint
  - npm run test
before_script:
  - truffle version
  - npm run ganache > /dev/null &
  - sleep 5
after_script:
  - npm run coverage && cat coverage/lcov.info | node_modules/.bin/coveralls
